.card {
  left: 50%;
  top: 50%;
  transform: translate(50%, 50%);
  border-radius: 16px;
  box-shadow: 0 2px 3px 0 rgba(53, 53, 53, 0.24),0 2px 3px 0 rgba(0,0,0,0.16);
  height: 45px;
  border: 1px solid white;
}

.items {
  text-align: center;
  vertical-align: middle;
}

.button {
  padding: 3px 15px;
  border-radius: 20px;
  margin-top: 5px;
  text-decoration: none;
  color: gray;
  box-shadow: 0 2px 3px 0 rgba(53, 53, 53, 0.24),0 2px 3px 0 rgba(0,0,0,0.16);
  font-size: 14px;
  border: 1px solid white;
}
